{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block description %}The home page for the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <section class="hero is-light">
            <div class="hero-body">
                <h2 class="title">HLA Curation Interface</h2>
                {% if is_authenticated %}
                <p class="subtitle">Welcome, {{ first_name }}. You are curating as part of the {{ affiliation }} affiliation.</p>
                <p class="helptext">
                    {% include "includes/_icon.html" with name="info" %}
                    If you need to change your affiliation, you can do so <a href="#">here</a>.
                </p>
                {% else %}
                    <p class="subtitle">Welcome. To curate as part of an affiliation, please <a href="#">log in</a>.</p>
                {% endif %}
            </div>
        </section>
    </div>
    {% include "includes/_add_buttons.html" %}
    {% if is_authenticated %}
    <div class="block">
        <h3 class="title is-4">Your Curations</h3>
        {% include "includes/_dummy_your_curations_table.html" %}
    </div>
    {% else %}
    <div class="block">
        <h3 class="title is-4">All Curations</h3>
        {% include "includes/_dummy_all_curations.html" %}
    </div>
    {% endif %}
{% endblock %}