{% extends "layouts/nav.html" %}
{% block title %}Home{% endblock %}
{% block description %}The home page for the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <section class="hero is-light">
            <div class="hero-body">
                <h2 class="title">HLA Curation Interface</h2>
                {% if is_authenticated %}
                <p class="subtitle">Welcome, {{ username }}. You are curating as part of the {{ affiliation }} affiliation.</p>
                {% else %}
                <p class="subtitle">Welcome. To curate as part of an affiliation, please log in.</p>
                {% endif %}
            </div>
        </section>
    </div>
    <div class="block">
        <a class="button is-responsive" href="#">Add Curation</a>
        <a class="button is-responsive" href="/diseases/disease/new">Add Disease</a>
        <a class="button is-responsive" href="/markers/allele/new">Add Allele/Haplotype</a>
        <a class="button is-responsive" href="/publications/pubmed/new">Add Publication</a>
    </div>

    {% if is_authenticated %}
    <div class="block">
        <h3 class="title is-4">Your {{ affiliation }} Curations</h3>
        <table class="table">
            <tr>
                <th>Disease</th>
                <th>Allele/Haplotype</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Last Modified</th>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
    </div>
    <div class="block">
        <h3 class="title is-4">All {{ affiliation }} Curations</h3>
        <table class="table">
            <tr>
                <th>Disease</th>
                <th>Allele/Haplotype</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Last Modified</th>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
    </div>
    {% endif %}

    <div class="block">
        <h3 class="title is-4">All Curations</h3>
        <table class="table">
            <tr>
                <th>Allele/Haplotype</th>
                <th>Disease</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Last Modified</th>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
    </div>

{% endblock %}