# This file prevents files and directories from being added to Docker images
# and containers.

# CAUTION: The syntax for `.dockerignore` is slightly different than the syntax
# for `.gitignore`.

#===============================================================================
# General
#===============================================================================

# Directories
#-------------------------------------------------------------------------------

# We don't need version control in our container. Git operations should be done
# outstide of a container.
.git

# The `.github` directory shouldn't be used in our container. As of this
# writing, it's only used to house GitHub Actions workflows.
.github

# This directory configures JetBrains IDEs. Our editor configuration would
# unnecessarily increase the size of the Docker image.
.idea

#===============================================================================
# Infrastructure as Code (IaC)
#===============================================================================

# Directories
#-------------------------------------------------------------------------------

# We don't need IaC in our containers. Infrastructure management should be done
# outside of a container.
infra

#===============================================================================
# Python / Django
#===============================================================================

# Directories
#-------------------------------------------------------------------------------

# We don't need a type checker cache in our container because we don't use
# containers for development.
**/.mypy_cache

# We don't need a Python bytecode cache in our container because we don't use
# containers for development.
**/__pycache__

# We don't want to copy over any `collectstatic` build artifacts from our local
# machine into the image or container because we run a build in the container.
**/public

# We don't want to copy over our virtual environment because we set up all of
# the dependencies in the container.
.venv

# Files
#-------------------------------------------------------------------------------

# We don't need to copy our local SQLite database into the container. If need
# be, the code will simply create a new one in the container. In the test and
# production environments, we don't use SQLite.
**/db.sqlite3

#===============================================================================
# Secrets
#===============================================================================

# Files
#-------------------------------------------------------------------------------

# Even though the `infra` directory is ignored, we want to make sure the
# unencrypted secrets file doesn't leak into images or containers.
**/*secrets.tfvars