[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.*"
psycopg = {extras = ["binary"] }
python-dotenv = "1.*"
daphne = "4.*"

[dev-packages]
black = "24.*"
mypy = "1.*"
pylint = "3.*"
invoke = "2.*"
django-stubs = {extras = ["compatible-mypy"], version = "5.*"}
mdformat = "0.*"

[requires]
python_version = "3.10"
