[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "1.*"
django = "5.*"
gunicorn = "23.*"
python-dotenv = "1.*"
whitenoise = "6.*"

[dev-packages]
black = "24.*"
boto3-stubs = "1.*"
django-stubs = {extras = ["compatible-mypy"], version = "5.*"}
docformatter = "1.*"
invoke = "2.*"
isort = "5.*"
mypy = "1.*"
pylint = "3.*"

[requires]
python_version = "3.13"
