{% extends "layouts/base.html" %}
{% block title %}Add Disease{% endblock %}
{% block description %}The form for adding a new disease to the HLA curation interface.{% endblock %}
{% block content %}
    <div>
        <h1 class="title">Add Disease</h1>
        <form method="post">
            {% csrf_token %}
            {% include "includes/_external_link.html" with prompt="Need to look up a disease's Mondo ID?" url=mondo_search_url text="Search Mondo" %}
            {% include "includes/_form_input.html" with field=form.mondo_id placeholder="Mondo ID" %}
            {% include "includes/_form_submit_button.html" %}
        </form>
    </div>
{% endblock %}
