{% extends "layouts/base.html" %}
{% block title %}Signup{% endblock %}
{% block description %}The signup page for the HLA curation interface.{% endblock %}

{% block content %}
    <div class="block">
        <h1 class="title">HCI Signup</h1>

        <div class="block">
            <form method="post">
                {% csrf_token %}
                <p class="has-text-danger">{{ form.non_field_errors }}</p>
                <div class="field">
                    <p class="has-text-danger">{{ form.username.errors }}</p>
                    <label for="username">{{ form.username.label_tag }}</label>
                    <div class="control">
                        <input type="text" id="username" name="username" placeholder="Your username" autocomplete="username" class="input column is-half">
                    </div>
                </div>
                <div class="field">
                    <p class="has-text-danger">{{ form.email.errors }}</p>
                    <label for="email">{{ form.email.label_tag }}</label>
                    <div class="control">
                        <input type="text" id="email" name="email" placeholder="Your email" autocomplete="email" class="input column is-half">
                    </div>
                </div>
                <div class="field">
                    <p class="has-text-danger">{{ form.first_name.errors }}</p>
                    <label for="first_name">{{ form.first_name.label_tag }}</label>
                    <div class="control">
                        <input type="text" id="first_name" name="first_name" placeholder="Your given name" autocomplete="given-name" class="input column is-half">
                    </div>
                </div>
                <div class="field">
                    <p class="has-text-danger">{{ form.last_name.errors }}</p>
                    <label for="last_name">{{ form.last_name.label_tag }}</label>
                    <div class="control">
                        <input type="text" id="last_name" name="last_name" placeholder="Your family name" autocomplete="family-name" class="input column is-half">
                    </div>
                </div>
                <div class="field">
                    <p class="has-text-danger">{{ form.password1.errors }}</p>
                    <label for="password1">{{ form.password1.label_tag }}</label>
                    <div class="control">
                        <input type="password" id="password1" name="password1" placeholder="Desired password" autocomplete="current-password" class="input column is-half">
                    </div>
                </div>
                <div class="field">
                    <p class="has-text-danger">{{ form.password2.errors }}</p>
                    <label for="password2">{{ form.password2.label_tag }}</label>
                    <div class="control">
                        <input type="password" id="password2" name="password2" placeholder="Confirm desired password" autocomplete="current-password" class="input column is-half">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="block">
            <p>Already have an account? <a href="{% url "login" %}">Log In</a></p>
        </div>
    </div>
{% endblock %}