/* Custom styling for the HLA curation interface. */

/* Tags in alphabetical order. */

a {
    color: blue;
    text-decoration: none;
}

html {
    font-family: sans-serif;
    margin: 2em;
}

/* Classes in alphabetical order. */

.active {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.error {
    color: red;
}