<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HCI | {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        {% load static %}
        <link rel="stylesheet" href="{% static 'hci/bulma-v1.0.2.min.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'hci/favicon.ico' %}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hci/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hci/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hci/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'hci/site.webmanifest' %}">
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div hx-boost="true">
            <section class="section">
                <div class="container">
                    {% if user.is_authenticated %}
                        <div class="has-text-right">
                            <p>{{ email }} | <a hx-post="{% url 'custom_logout' %}" hx-swap="innerHTML" hx-target="body">Log Out</a></p>
                            <p>{{ affiliation }} | <a href="{% url 'affiliation' %}">Change Affiliation</a></p>
                        </div>
                    {% endif %}
                    <h1 class="title">Clinical Genome HLA Curation</h1>
                    {% block nav %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
    </body>
</html>