{% extends "hci/base.html" %}
{% block nav %}
        <!-- Begin navbar. -->
        <nav class="center">
            <a href="/" {% if request.resolver_match.view_name == 'index' %}class="active"{% endif %}>Home</a>
            <a href="/curation" {% if request.resolver_match.view_name == 'curation' %}class="active"{% endif %}>Curations</a>
            <a href="/disease" {% if request.resolver_match.view_name == 'disease' %}class="active"{% endif %}>Diseases</a>
            <a href="/allele_haplotype" {% if request.resolver_match.view_name == 'allele_haplotype' %}class="active"{% endif %}>Alleles/Haplotypes</a>
            <a href="/publication" {% if request.resolver_match.view_name == 'publication' %}class="active"{% endif %}>Publications</a>
        </nav>
        <!-- End navbar. -->
{% endblock %}
