{% extends "layouts/nav.html" %}
{% block title %}Add PubMed Article{% endblock %}
{% block description %}The form for adding a new PubMed article to the HLA curation interface.{% endblock %}

{% block content %}
    <div>
        <h1 class="title">Add PubMed Article</h1>
        <form method="post">
            {% csrf_token %}
            {% include "includes/_form_input.html" with field=form.pubmed_id placeholder="PubMed ID" %}
            {% include "includes/_form_submit_button.html" %}
        </form>
    </div>
{% endblock %}