{% extends "layouts/base.html" %}
{% block title %}Add Allele{% endblock %}
{% block description %}The form for adding a new allele to the HLA curation interface.{% endblock %}
{% block content %}
    <div>
        <h1 class="title">Add Allele</h1>
        <form method="post">
            {% csrf_token %}
            {% include "includes/external_link.html" with prompt="Need to look up the full descriptor?" url=ipd_search_url text="Search the IPD-IMGT/HLA HLA Database" %}
            {% include "includes/form_input.html" with field=form.descriptor placeholder="HLA Allele Descriptor" %}
            {% include "includes/form_submit_button.html" %}
        </form>
    </div>
{% endblock %}
